{% extends 'facerecognition/base.html' %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
	  			<div class="card card-inverse card-danger">
					<div class="card-block">
						<h4 class="card-title">Hi </h4>
						<p class="card-text">welcome to Face Detection - Add image to be recognized</p>
						<p class="alert_msg">{% if msg %}{{msg}}{% endif %}</p>
						<p class="alert_msg">{% if error_msg %}*{{error_msg}}{% endif %}</p>
						<img src="https://d13yacurqjgara.cloudfront.net/users/207059/screenshots/1686151/cameraicondribbble.gif" alt="no image" style="height: 30rem; width:100%; margin-left: auto ;margin-right: auto ;">
					</div>
					
					<div class="card-block" style="align-self: center;">
						<form action="/facerecognition/add" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="text" name="name" placeholder="Name">
							<input type='file' name ="myfile">
							<button type="submit" class="btn btn-primary">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
